.information-booking{
  width: 65%;
  height: fit-content;
  padding: 1rem;
  margin-right:4rem;
  box-shadow: 3px 4px 1rem rgba(0,0,0,0.075);

}
.information-booking h1 {
  font-weight: bold;
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}
.information-booking >div>div:first-child{
  border-bottom: 1px solid #ccc;
}
.information-booking h3{
  width: fit-content;
  padding-bottom: 0.6rem;
  margin-bottom: -1px;
  border-bottom: 2px solid #ff8917;
  font-weight: 700;
  font-size: 1.7rem;
}

.information-user-line-1th{
  display: flex;
  width: 100%;
  margin-top: 3rem;
}
.information-user-line-1th>div:first-child{
  width: 48rem;
  margin-right: 3rem;
  
}
.information-user-line-1th>div:last-child{
  width: 33%;
}

.information-user-line-2th{
  display: flex;
  margin-top: 3rem;
}

.information-user-line-2th>div:first-child
{
  margin-right: 3rem;
  width: 28rem;

}
.information-user-line-2th>div:last-child
{

  width: 60%
}

.information-user form>label{

  margin: 8px 0;
}
.information-user-btn{
  display: flex;
  justify-content: flex-end;
}
.information-user-btn button:last-child{
  width: 12rem;
  background-color: #ff8917;
  margin-left: 3rem;  
  color: #fff;
  border: #ff8917;
}

.person-check-in-room{
  margin: 1rem 0;
  
}
.person-check-in-room-info{
  margin: 2rem 0;
}
.person-check-in-room-info >div:last-child{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.person-check-in-room-info >div:last-child>div{
  width: 35rem;
  
}
